.terraform.lock.hcl
terraform.tfstate
.terraform

roles/prerequisite/files
roles/prerequisite/meta
roles/prerequisite/templates
roles/prerequisite/tests
roles/prerequisite/README.md

roles/postgres/files
roles/postgres/handlers
roles/postgres/meta
roles/postgres/templates
roles/postgres/tests
roles/postgres/README.md

roles/sonarqube/defaults
roles/sonarqube/handlers
roles/sonarqube/meta
roles/sonarqube/templates
roles/sonarqube/tests
roles/sonarqube/README.md